<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zopper App</title>

    <!-- Bootstrap Core CSS -->
    <link href={{STATIC_URL}}css/bootstrap.min.css rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{STATIC_URL}}css/logo-nav.css rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50&text=Logo" alt=""> 
                </a>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a id="addDeviceLink">Add Device</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
		<h2> IMAGE INTENSIFICATION BASED DEVICES - EDIT DEVICE </h2>

		<form enctype="multipart/form-data" id="editForm" method="post" class="form-horizontal" role="form">
		    {% csrf_token %}
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="device_name">Name:</label>
		      <div class="col-sm-10">
			<input type="text" class="form-control" id="device_name" name="device_name" placeholder="Enter Name">
		      </div>
		    </div>

		    <div class="form-group">
		      <label class="control-label col-sm-2" for="device_magnification">Magnification:</label>
		      <div class="col-sm-10">
			<input type="text" class="form-control" id="device_magnification" name="device_magnification" placeholder="Enter Magnification">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="device_fieldofview">Field Of View:</label>
		      <div class="col-sm-10">
			<input type="text" class="form-control" id="device_fieldofview" name="device_fieldofview" placeholder="Enter Field Of View">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="device_range">Range:</label>
		      <div class="col-sm-10">
			<input type="text" class="form-control" id="device_range" name="device_range" placeholder="Enter Range">
		      </div>
		    </div>
		    <div class="form-group">        
		      <div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default" value="Submit">Submit</button>
		      </div>
		    </div>
		</form>
		<script>
		        var params = window.location.search.substr(1).split('&');

		        var p = params[0].split('=');
		        var id = decodeURIComponent(p[1]);
 
		        var xmlhttp = new XMLHttpRequest();
		        var url = location.protocol + '//' + location.host + "/api/devices/"+id+"/?format=json";

			xmlhttp.onreadystatechange=function() {
			    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
				myFunction(xmlhttp.responseText);
			    }
			}
			xmlhttp.open("GET", url, true);
			xmlhttp.send();

			function myFunction(response) {
			    var arr = JSON.parse(response);
			    document.getElementById('device_name').value = arr.device_name;
			    document.getElementById('device_magnification').value = arr.device_magnification;
			    document.getElementById('device_fieldofview').value = arr.device_fieldofview;
			    document.getElementById('device_range').value = arr.device_range;
			    document.getElementById('editForm').action = location.protocol + '//' + location.host + "/myapp/editdevicehelp/?id="+id;
			}
		</script>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src={{STATIC_URL}}js/jquery.js></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{STATIC_URL}}js/bootstrap.min.js></script>

    <script>
	var urlAddDevice = location.protocol + '//' + location.host + "/myapp/adddevice/";
	document.getElementById('addDeviceLink').href = urlAddDevice;
    </script>

</body>

</html>
