<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zopper App</title>

    <!-- Bootstrap Core CSS -->
    <link href={{STATIC_URL}}css/bootstrap.min.css rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href={{STATIC_URL}}css/jquery.dataTables.css>
    <link rel="stylesheet" type="text/css" href={{STATIC_URL}}css/logo-nav.css>

    <style type="text/css" class="init">
    </style>
    


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50&text=Logo" alt=""> 
                </a>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a id="addDeviceLink">Add Device</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
		<h2> IMAGE INTENSIFICATION BASED DEVICES </h2>
		
		<div id = "id1">
		</div>
		
		<a id="addDeviceButton" class="btn btn-info" role="button">Add a Device</a> 
		<p></p>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->

    <script type="text/javascript" language="javascript" src={{STATIC_URL}}js/jquery.js></script>
    <script type="text/javascript" language="javascript" src={{STATIC_URL}}js/jquery.dataTables.js></script>

    

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" language="javascript" src={{STATIC_URL}}js/bootstrap.min.js></script>

    <script>
			var xmlhttp = new XMLHttpRequest();
			var url = location.protocol + '//' + location.host + "/api/devices/?format=json";

			xmlhttp.onreadystatechange=function() {
			    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
				myFunction(xmlhttp.responseText);
			    }
			}
			xmlhttp.open("GET", url, true);
			xmlhttp.send();

			function myFunction(response) {
			    var arr = JSON.parse(response);
			    var i;
			    var out = "<div class=\"table-responsive\"><table id=\"myTable\" class=\"display table\" cellspacing=\"0\" width=\"100%\">" + "<thead><tr><th>Device Name</th><th>Magnification</th><th>Field of view</th><th>Range</th><th>Edit/Delete</th></tr></thead><tbody>";
				
			    for(i = 0; i < arr["objects"].length; i++) {
				out += "<tr><td>" +
				arr["objects"][i].device_name +
				"</td><td>" +
				arr["objects"][i].device_magnification +
				"</td><td>" +
				arr["objects"][i].device_fieldofview +
				"</td><td>"+
				arr["objects"][i].device_range +
				"</td><td>"+
				"<a href=\"viewdevice/?id="+arr["objects"][i].id+"\" class=\"btn btn-info\" role=\"button\">View</a>"
				"</td></tr>";
			    }
			    out += "</tbody></table></div>"
			    document.getElementById("id1").innerHTML = out;
			    $('#myTable').DataTable();
			}


    </script>

    <script>
	var urlAddDevice = location.protocol + '//' + location.host + "/myapp/adddevice/";
	document.getElementById('addDeviceButton').href = urlAddDevice;
	document.getElementById('addDeviceLink').href = urlAddDevice;
    </script>

</body>

</html>
